<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          Editar perfil
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <%= render 'form', user: @user %>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<%#= javascript_pack_tag 'home' %>
